DEBUG=true
PORT=4400
APP_HOST=http://localhost:4400
APP_NAME="LOT Systems"
APP_DESCRIPTION="LOT Systems Development"
NODE_ENV=development

JWT_SECRET=13919320b2a8816ced947b7a6385811b

DATABASE_URL="postgresql://doadmin:AVNS_8V6Hqzuxwj0JkMxgNvR@db-postgresql-nyc3-92053-do-user-22640384-0.f.db.ondigitalocean.com:25060/defaultdb?sslmode=require"
JWT_SECRET="13919320b2a8816ced947b7a6385811b"
OPENAI_API_KEY="your-openai-key"
